/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy S3 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy S4, S5 and Note 3 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy S6 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Google Pixel ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Google Pixel XL ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- HTC One ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Windows Phone ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPad Pro 10.5" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* ----------- iPad Pro 12.9" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* ----------- Galaxy Tab 2 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy Tab S ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Nexus 7 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Nexus 9 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Kindle Fire HD 7" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Kindle Fire HD 8.9" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Non-Retina Screens ----------- */
/* ----------- Retina Screens ----------- */
/* ----------- Apple Watch ----------- */
/* ----------- Moto 360 Watch ----------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cataloge .head {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -.5em;
  position: relative;
}

.cataloge .head h1 {
  margin-bottom: 0;
  text-align: center;
  color: #195BFF;
}

.cataloge .head p {
  margin-top: 0;
  text-align: center;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.5);
}

.cataloge .head p a {
  color: inherit;
  font-weight: 600;
}

.cataloge .head .selectCategory {
  position: absolute;
  bottom: 2%;
  right: 2%;
  min-width: 300px;
}

.cataloge .cardRows {
  padding: 1em;
  -webkit-column-count: 6;
          column-count: 6;
  -webkit-column-gap: 1;
          column-gap: 1;
  position: relative;
  margin-top: 2em;
}

@media (max-width: 768px) {
  .cataloge .cardRows {
    -webkit-column-count: initial;
            column-count: initial;
    -webkit-column-gap: initial;
            column-gap: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.cataloge .cardRows .card {
  width: 100%;
  padding: 0em;
  margin-bottom: 1em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  margin-bottom: 1rem;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.05);
  -o-object-fit: cover;
     object-fit: cover;
}

.cataloge .cardRows .card .vs-card {
  -o-object-fit: cover;
     object-fit: cover;
}

.cataloge .cardRows .card .vs-card .vs-card__text {
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
}

.cataloge .cardRows .card:hover .overlay {
  top: 0;
}

.cataloge .cardRows .card img {
  width: 100%;
  height: auto;
}

.cataloge .cardRows .card .label {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #195BFF;
  border-radius: 0 8px 0 8px;
}

.cataloge .cardRows .card .label i {
  color: #fff;
}

.cataloge .cardRows .card .overlay {
  position: absolute;
  left: 0;
  top: -100%;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 1em;
  padding-right: 1.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cataloge .cardRows .card .overlay .type {
  font-size: .6rem;
  font-weight: 600;
  text-transform: uppercase;
}

.cataloge .cardRows .card .overlay .title {
  font-size: .8rem;
  font-weight: 600;
  color: #195BFF;
  text-transform: uppercase;
}

.cataloge .cardRows .card .overlay .overlayButton {
  width: 100%;
  font-weight: bold;
}

.cataloge .paginationWraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 0 4em 0;
}

.cataloge .scrollToTop {
  position: fixed;
  bottom: 2%;
  right: 2%;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}
/*# sourceMappingURL=cataloge.css.map */